.CurrentUser {
  border: 1px solid #ccc;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.CurrentUser--identification {
  padding: 1em;
  flex: 1;
}

.CurrentUser--photo {
  padding-top: 10px;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}

.font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


@media all and (max-width: @screen-md) {
  h3{font-size: 10px;}
}
